
  .card .card-image {
    display: block;
    position: relative;
    min-height: 100px;
    width: 100%;
    max-width: 100%;
  }
  
  .media.stream-item img {
      max-width: none;
      height: auto;
      object-fit: cover;
  }